<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120256341252-r5gi7dgdvbkr6pf009c6r3kmh6lv2j47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120256341252-r5gi7dgdvbkr6pf009c6r3kmh6lv2j47</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>120256341252-ar3t4orpihi12v5mvsur386kn9r65dv8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCHz2XpGqsHFX3sfYybyPIcZZKs6OzXax8</string>
	<key>GCM_SENDER_ID</key>
	<string>120256341252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.veridox</string>
	<key>PROJECT_ID</key>
	<string>veridocs-rs</string>
	<key>STORAGE_BUCKET</key>
	<string>veridocs-rs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120256341252:ios:533ecb25e97bfac64edc51</string>
	<key>DATABASE_URL</key>
	<string>https://veridocs-rs-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>